/* Dashboard Introduction */
.introduction {
  width: auto;
  margin-bottom: 0;
  font-size: 1.1em;
}

.introduction h5 {
  width: auto;
}

.introduction a {
  padding: 0.2em 0.5em;
  display: inline-block;
}

/* Dashboard Reports */
.reports .reports-daterange .mdl-cell {
  width: auto;
}

.reports [data-toggle="qor.datepicker"] {
  width: 9em;
  text-align: center;
}

.reports .datepicker-separator {
  width: 1em;
  text-align: center;
}

.reports .yesterday-reports, .reports .last-week-reports, .reports .this-week-reports {
  font-weight: normal;
  color: #666;
}


/* select many */

.qor-field__selectmany .qor-microsite__containers>li .qor-microsite__containers-image span {
  width: calc(100% - 54px) !important;
}

.qor-field__selectmany .qor-microsite__containers>li .qor-microsite__containers-image img {
    max-width: 42px;
    max-height: 30px;
    margin-right: 8px;
}



/* Hack, add hidden-drawer to .mdl-layout can hide the drawer */
.mdl-layout.hidden-drawer .mdl-layout__header {
  margin-left: 0 !important;
  width: 100% !important;
  padding-left: 50px;
}

.mdl-layout.hidden-drawer .mdl-layout__drawer {
  display: none;
}

.mdl-layout.hidden-drawer .mdl-layout__content{
  padding-left: 0;
}
.mdl-layout.hidden-drawer .qor-page__header{
  width: 100%;
}
