.git
*.sh
.vscode
.DS_Store
.gitignore

qor-demo
gin-bin

.env
.realize.yaml

tmp
public/downloads
node_modules
data

config/database.yml
config/database.prod.yml
config/application.yml

Dockerfile
captain.yml
