.vscode/
tmp/
data/
*.sh
gin-bin
qor-demo
qor-example
main
.realize.yaml
config/db/seeds/enterprise
config/db/seeds/main
config/database.yml
config/application.yml
config/smtp.yml
public/dist
node_modules
.env
