.vscode/
tmp/
data/
*.sh
gin-bin
qor-demo
qor-example
main
.realize.yaml
config/db/seeds/enterprise
config/db/seeds/main

config/*.*.yml
config/*.yml
!config/database.example.yml
!config/application.example.yml
!config/smtp.example.yml

public/dist
node_modules
.env

public/downloads
