.vscode/
.idea/
tmp/
data/
*.sh
gin-bin
qor-demo
qor-example
main
.realize.yaml
config/db/seeds/enterprise
config/db/seeds/main

config/*.*.yml
config/*.yml
!config/database.example.yml
!config/application.example.yml
!config/smtp.example.yml

public/dist
node_modules
.env
*.env

public/downloads
public/system

.pgsync.yml

nohup.out
cert-cache

# Ignore azure draft temporarily
.draft-tasks.toml
draft.toml
charts
.draft-tasks.toml
.draftignore


# vendor 文件夹里的views 文件都是通过命令拷贝的，详见docs/gomod.md， 没必要提交到git
# vendor

runner.conf
.air.conf
