<footer class="footer">
  <div class="container">

    <div class="grid">
      <div class="grid__col is-8">
        <h4>{{ t "layout.connect" }}</h4>
        <div class="society">
          <a href="#"><img src="/images/twitter.png" /></a>
          <a href="#"><img src="/images/facebook.png" /></a>
          <a href="#"><img src="/images/gplus.png" /></a>
          <a href="#"><img src="/images/youtube.png" /></a>
        </div>

        {{ t "layout.about_qor" }}

        <!-- Switch language -->
        <div class="footer__change-language">
          <select>
            <option {{ if (eq current_locale "en-US") }}selected{{end}} value="/switch_locale?locale=en-US">English
            </option>
            <option {{ if (eq current_locale "zh-CN") }}selected{{end}} value="/switch_locale?locale=zh-CN">简体中文
            </option>
          </select>
        </div>
      </div>

      <div class="grid__col is-4">
        <h4>{{ t "layout.support_and_info" }}</h4>

        <ul>
          <li><a href="#">{{ t "layout.footer_link.faq" }}</a></li>
          <li><a href="#">{{ t "layout.footer_link.size_guide" }}</a></li>
          <li><a href="#">{{ t "layout.footer_link.shipping" }}</a></li>
          <li><a href="#">{{ t "layout.footer_link.privacy_policy" }}</a></li>
          <li><a href="#">{{ t "layout.footer_link.terms_of_use" }}</a></li>
          <li><a href="#">{{ t "layout.footer_link.press" }}</a></li>
          <li><a href="#">{{ t "layout.footer_link.about_us" }}</a></li>
          <li><a href="#">{{ t "layout.footer_link.blog" }}</a></li>
        </ul>
      </div>
    </div>
</footer>
