<div class="qor-page__body">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <div class="qor-section reports">
    <div class="qor-section__header">
      <h4 class="qor-section-title">{{t "Reports"}}</h4>
    </div>
  </div>

  <div class="qor-section qor-section__table qor-theme-slideout">
    <div class="qor-section__header">
      <h4 class="qor-section-title">{{t "今日待处理"}}</h4>
    </div>
    <div class="qor-section__body qor-table-container">
      <ul class="product_options-color">
        <li>
          待预约
          <a rel="nofollow" href="#" ><span style="background:#eae3d3">10</span></a>
        </li>

        <li>
          待指派师傅
          <a rel="nofollow" href="#" ><span style="background:#eae3d3">1</span></a>
        </li>

        <li>
          待审核
          <a rel="nofollow" href="#" ><span style="background:#eae3d3">2</span></a>
        </li>

      </ul>
    </div>
  </div>

  <!-- if have table please add qor-section__table className -->
  <div class="qor-section qor-section__table qor-theme-slideout">
    <div class="qor-section__header">
      <h4 class="qor-section-title">{{t "Latest Orders"}}</h4>
    </div>
    <div class="qor-section__body qor-table-container">
      {{render_latest_order .}}
    </div>
  </div>
</div>

<link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/publish2.css?theme=publish2">
<script src="/admin/assets/javascripts/publish2.js?theme=publish2"></script>
