<div class="qor-page__body">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <div class="qor-section reports">
    <div class="qor-section__header">
      <h4 class="qor-section-title">{{t "Reports"}}</h4>
    </div>

    <div class="mdl-grid reports-daterange">
      <div class="mdl-cell">
        <input class="mdl-textfield__input" id="startDate" type="text" data-toggle="qor.datepicker">
      </div>
      <div class="mdl-cell datepicker-separator">
        -
      </div>
      <div class="mdl-cell">
        <input class="mdl-textfield__input" id="endDate" type="text" data-toggle="qor.datepicker">
      </div>

      <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect j-update-record">
        {{t "更新报表"}} </button>
      <button class="mdl-button this-week-reports"> {{t "本周"}} </button>
      <button class="mdl-button last-week-reports"> {{t "上周"}} </button>
      <button class="mdl-button this-month-reports"> {{t "本月"}} </button>
      <button class="mdl-button last-month-reports"> {{t "上月"}} </button>
      <button class="mdl-button this-year-reports"> {{t "今年"}} </button>
      <button class="mdl-button this-year2-reports"> {{t "今年/按月"}} </button>
    </div>

    <script src="/vendors/Chart.min.js"></script>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <h4 class="qor-section-title">{{t "Orders Count"}}</h4>
        <canvas id="orders_report"></canvas>
      </div>
    </div>
  </div>

  <!-- if have table please add qor-section__table className -->
  <div class="qor-section qor-section__table qor-theme-slideout">
    <div class="qor-section__header">
      <h4 class="qor-section-title">{{t "Latest Orders"}}</h4>
    </div>
    <div class="qor-section__body qor-table-container">
      {{render_latest_order .}}
    </div>
  </div>
</div>

<link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/publish2.css?theme=publish2">
<script src="/admin/assets/javascripts/publish2.js?theme=publish2"></script>
