<div class="qor-page__body">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <!--
    <div class="qor-section introduction">
      <h5>This is the DEMO app for Qor</h5>
      Github: <a href="http://github.com/qor/qor" target="_blank">github.com/qor/qor</a><br/>
      WebSite: <a href="http://getqor.com" target="_blank">getqor.com</a><br/>
      Source code of this demo: <a href="http://github.com/qor/qor-example" target="_blank">github.com/qor/qor-example</a><br/>
    </div>
  -->

  <div class="qor-section reports">
    <h4 class="qor-section-title">配送统计</h4>

    <!-- 
    <div class="qor-section__header">
      <h4 class="qor-section-title">{{t "Reports"}}</h4>
    </div> 
    -->

    <div class="mdl-grid">
      {{ render_today_orders . }}
    </div>
  </div>

  <div class="qor-section reports">
    <h4 class="qor-section-title">售后统计</h4>
    
    <!-- 
    <div class="qor-section__header">
      <h4 class="qor-section-title">{{t "Reports"}}</h4>
    </div> 
    -->

    <div class="mdl-grid">
      {{ render_today_aftersales . }}
    </div>
  </div>


  <div class="qor-section reports introduction">
    <h4 class="qor-section-title">快速导航</h4>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <a rel="noreferrer" href="http://jdfw.jd.com/" target="_blank">京东安维管理后台</a><br/>
        <a rel="noreferrer" href="http://fwcss.aux-home.com/#/home" target="_blank">奥克斯</a><br/>
        <a rel="noreferrer" href="http://suning.cn" target="_blank">苏宁</a><br/>
        <a href="/admin/manufacturers" target="_blank">所有厂家后台</a><br/>
        <a rel="noreferrer" href="https://jinshuju.net" target="_blank">审核师傅资料</a><br/>
        <a href="/admin/balances" target="_blank">安装结算统计</a><br/>
      </div>

      <div class="mdl-cell mdl-cell--4-col">
        <a rel="noreferrer" href="https://www.youzan.com/v4/dashboard" target="_blank">商城后台</a><br/>
        <a rel="noreferrer" href="https://mp.weixin.qq.com" target="_blank">微信公众号后台</a><br/>
        <a rel="noreferrer" href="http://partner.dhc.jd.com" target="_blank">京东约单后台</a><br/>
      </div>

      <div class="mdl-cell mdl-cell--4-col">
        <a rel="noreferrer" href="http://partner.dhc.jd.com" target="_blank">我要约单</a><br/>
        <a href="/admin/orders?scopes=ReservedYesterday&scopes=delivered" target="_blank">我要做回访</a><br/>
        <a href="/admin/orders" target="_blank">我要记录好评或差评</a><br/>
        <a href="/downloads/" target="_blank">我要导出数据</a><br/>
        <a href="/admin/order_items" target="_blank">物流配送费用清单</a><br/>
        <a href="/admin/reports/orders" target="_blank">约单量统计</a><br/>
      </div>
    </div>
  </div>

  <!--
  <div class="qor-section qor-section__table qor-theme-slideout">
    <div class="qor-section__header">
      <h4 class="qor-section-title">最近订单</h4>
    </div>
    <div class="qor-section__body qor-table-container">
      {{render_latest_orders .}}
    </div>
  </div>
  -->

  <!-- if have table please add qor-section__table className
  <div class="qor-section qor-section__table qor-theme-slideout mdl-layout--large-screen-only">
    <div class="qor-section__header">
      <h4 class="qor-section-title">最近售后服务单</h4>
    </div>
    <div class="qor-section__body qor-table-container">
      {{render_latest_aftersales .}}
    </div>
  </div>
  -->

</div>

<link type="text/css" rel="stylesheet" href="/admin/assets/stylesheets/publish2.css?theme=publish2">
<script src="/admin/assets/javascripts/publish2.js?theme=publish2"></script>
